.container {
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.header-items,
#search,
.search-button,
.menu-column {
  display: none;
}

.logo {
  height: 4.5rem;
  display: flex;
  justify-content: center;
}

.footer-row {
  display: flex;
  justify-content: center;
}

.main-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page {
  margin-bottom: 4rem;
}

.page-wrapper {
  flex: 1;
  overflow-y: scroll;
}

.favorites-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.favorite-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite-items-container .row {
  margin-bottom: 2rem;
}

.search-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media queries */

@media screen and (max-width: 768px) {
  .header-items {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-half {
    width: 50%;
  }

  .header-items,
  #search,
  .search-button,
  .menu-column {
    display: unset;
  }

  .logo {
    height: 4.5rem;
    display: flex;
    justify-content: start;
  }

  .footer-row {
    display: none;
  }

  .favorite-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  .search-container {
    display: none;
  }
}
