* {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(232, 232, 232);
  overflow: hidden;
}

h1 {
  font-family: "Oooh Baby", cursive;
  text-align: center;
}

h2 {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
}

h2:hover {
  cursor: pointer;
}

h4 {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 400;
}

b {
  font-weight: 700;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button:active {
  position: relative;
  bottom: -1px;
}

/* hidden scrollbar */

.page-wrapper::-webkit-scrollbar {
  width: 0;
}

.page-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.page-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.page-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.page-wrapper::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* header */

.logo-banner {
  background-color: #82c671;
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.menu-bar {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  position: relative;
  top: 0.3rem;
  margin-right: 16px;
}

#search {
  color: black;
  height: 2rem;
  border-radius: 0.25rem;
  border-style: none;
  font-size: 0.8rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.search-button {
  border-radius: 0.25rem;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: #82c671;
}

/* recipe body */

.img-container {
  position: relative;
  bottom: 1rem;
}

.recipe-img {
  width: 23rem;
  height: 18rem;
  margin-bottom: -2rem;
  object-fit: contain;
  display: block;
  padding: 1rem;
  border-radius: 1rem;
}

.meal-column-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 18rem;
}

.recipe-container {
  background-color: white;
  width: 20rem;
  height: 17rem;
  border: 1px solid lightgrey;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.recipe-button {
  border-style: none;
  background-color: white;
}

.active {
  background-color: rgb(226, 247, 226);
  padding: 0.2rem 0.7rem;
  border-radius: 5rem;
  border: 1px solid #82c671;
}

.toggler {
  width: 15rem;
  position: relative;
  top: 1.2rem;
  left: 2rem;
  display: flex;
  justify-content: space-around;
}

.about-container {
  font-size: 0.8rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.calories {
  font-weight: 600;
}

.nutrients-container {
  margin-top: 0.8rem;
  font-size: 1rem;
}

.nutrients {
  font-weight: 600;
}

.ingredients-textarea,
.about-container {
  margin-top: 1rem;
  padding-left: 0.8rem;
  width: 90%;
  height: 75%;
  box-sizing: border-box;
}

.about-link {
  margin-top: 1rem;
}

textarea {
  padding: 0.5rem;
  position: relative;
  top: 0.4rem;
  left: 0.5rem;
  overflow: scroll;
  border: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* favorites and search feature */

.favorite-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.add-favorite {
  height: 2rem;
  border-radius: 1rem;
  border-style: none;
  color: white;
  background-color: #58af22;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.search-header-items {
  width: 20rem;
  padding: 1.1rem;
}

.header-items.search-feature-button {
  background-color: grey;
  color: #fff;
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.search-button:hover {
  background-color: #58af22;
}

.search-results-container {
  margin-top: 2rem;
  flex: 1;
}

.search-results-container .row {
  margin-top: 4rem;
}

.search-favorite {
  display: flex;
  justify-content: center;
}

/* loading and connection status */

.loading-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;
  right: 2rem;
}

.loading {
  display: none;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(98, 99, 100);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(126, 125, 125) transparent transparent;
}

.loading div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.connection-error {
  color: rgb(236, 44, 44);
  font-weight: bold;
  position: relative;
  text-align: center;
}

/* footer */
.footer-row {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.no-results {
  height: 100vh;
}

.footer {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin: 0;
}

.footer-symbol {
  width: 2rem;
}

.footer-links {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  border: none;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .img-container {
    position: relative;
    bottom: 1.8rem;
  }
}
